# Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.pyc
*.egg-info/
.eggs/
build/
dist/
*.manifest
*.spec

# Virtual environments
**/.venv/
**/venv/
**/env/
.vscode/

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Tests
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Optional: VS Code workspace settings
.vscode/

# Ignore local settings
local_settings.py
